*{
	font-family:verdana;
	box-sizing: border-box;
}
.images{
	width: 80%;
	margin: 10px;
}
.images img{
	width: 20%;
	height: auto;
}
ul li{
	list-style-type: none;

}
ul li a{
	text-decoration: none;
}